.community h1{
    background: var(--ga-blue-linear-gradient, linear-gradient(142deg, #238DDB 0%, #1D3E5D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 20px;
}
.community{
    padding: 5% 0;
}
.testimonials h1{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.testimonials{
    background-color: #1D3E5D;
    padding: 5% 0;
}
.head{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.comcard{
    border-radius: 40px;
    border: 10px solid #6D3C70;
    background: linear-gradient(290deg, #4D179B 0%, #CC407F 100%);
    display: flex;
    margin: 3% 5%;
    padding: 3%;
    flex-direction: column;
}
.comimages{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comlogo{
    width: 50px;
    margin-bottom: -30px;
    margin-left: -80%;
}
.comteam{
    width: 200px;
}
.comtext{
    color: #fff;
    flex: 0.6;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    padding-right: 5%;
}
.comtext h2{
    font-size: 15px;
    font-weight: 700;
}
.comtext h4{
    font-size: 12px;
    line-height: 17px;
    text-align: justify;
    padding: 1% 0;
}
.h4{
    padding: 5% 0;
}
.wbtn{
    border-radius: 4px;
    background: #FFF;
    padding: 5px 10px;
    color: #1D3E5D;
    font-size: 14px;
    margin-left: 0;
}
.container_card{
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
.container_card::-webkit-scrollbar{
    display: none;
}
/* Tablets and small laptops */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .comcard{
        display: flex;
        flex-direction: row;
        padding-top: 1%;
        padding-bottom: 0;
    }
    .comtext h2{
        font-size: 24px;
        font-size: 500;
        width: 100%;
    }
    .comimages{
        flex: 0.45;
    }
    .comtext{
        flex: 0.55;
        padding-right: 2%; 
        padding-left: 2%;
    }
    .wbtn{
        margin-top: 2%;
    }
    .comteam{
        width: 145%;
        bottom: 0;
        padding-bottom: 0;
    }
    .h4 h4{
        font-size: 15px;
        font-weight: 300;
        line-height: 1.4;
    }
    .h4::-webkit-scrollbar{
        display: none;
    }
  }
  @media screen and (min-width: 1023px) and (max-width: 1030px) {
    .h4 h4{
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
    }
  }
@media screen and (min-width: 1030px) {
    .community{
        padding: 3% 2%;
        align-items: stretch;
    }
    .head h1{
        font-size: 40px;
    }
    .comcard{
        flex-direction: row;
        border-radius: 48px;
        border: 12px solid #6D3C70;
        padding: 0;
        position: relative;
    }
    .comimages{
        flex: 0.5;
        padding-left: 5%;
        padding-top: 2%;
    }
    .comteam{
        object-fit: contain;
        width: 50%;
        display: flex;
        bottom: 0;
        position: absolute;
        padding-left: 3%;
        margin-top: 10%;
    }
    .comtext{
        flex: 0.5;
        padding-right: 3%;
        text-align: l;
        display: flex;
        align-items: flex-start;
    }
    .comlogo{
        width: 100px;
        margin-bottom: 0;
    }
    .comtext h2{
        font-size: 40px;
        font-weight: 600;
    }
    .comtext h4{
        font-size: 20px;
        line-height: 28px;
        text-align: left;
        font-weight: 500;
        padding: 5% 0;
    }
    .comtext h4{
        padding: 5px 0;
    }
    .wbtn{
        padding: 10px 40px;
        font-size: 20px;
        margin-top: 3%;
    }
    .container_card{
        margin: 4% 6%;
    }
}
