.engagement {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
    width: max-content;
    margin: 5% 3%;
    padding: 2% 4%;
    justify-content: space-between;
    object-fit: cover;
    height: auto;
    position: relative;
}
.photos {
    display: flex;
    min-width: max-content;
}
.photos img {
    height: 170px;
    border-radius: 8px;
    max-width: max-content;
}
.img2{
    margin-left: 1%;
}
.img1{
    margin-left: -1%;
    margin-right: 1%;
}
.engagement h3{
    font-size: 14px;
    font-weight: 700;
    color: #1D3E5D;
    padding: 6% 0;
    box-sizing: border-box; 
    position: relative;
    min-width: min-content;
}
.econtainer {
    padding: 0 5%;
}
.erow,
.erow2 {
    display: flex;
    overflow-x: scroll;
    padding: 5% 0;
}
.erow2 {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.erow::-webkit-scrollbar,
.erow2::-webkit-scrollbar {
    display: none;
}
.engagement::after, .engagement::after{
    box-sizing: border-box;
}
@media screen and (min-width: 700px) {
    .engagement{
        max-height: 353px;
        padding: 1% 2%;  
        margin: 2.5% 1%;
    }
    .engagement img{
        height: 200px;
        width: auto;
    }
    .erow {
        overflow-x: scroll;
    }
    .engagement h3{
        font-size: 24px;
    }
}
