:root{
    --ga-dark-blue: #1D3E5D;
    --white-text: #ffffff;
}
.footer{
    background-color: var(--ga-dark-blue);
    color: var(--white-text);
    display: flex;
    justify-content: space-between;
    padding: 5% 4%;
    font-size: 12px;
}
.left_side{
    max-width: 33%;
}
.left_side img{
    width: 100%;
}
table{
    border-collapse: collapse;
}
td{
    padding-bottom: 3px;
    padding-right: 15px;
}
.right_side{
    width: 63%;
}
.footer a{
    padding-left: 0;
    text-decoration: none;
    color: var(--white-text);
} 
.footer a:hover{
    color: #238ddc;
}
.th td{
    font-weight: 600;
}
td{
    font-weight: 400;
}
@media screen and (min-width: 700px) {
    .footer{
        padding: 7% 5%;
        font-size: 24px;
    }
    .left_side img{
        width: 70%;
        margin-left: 8%;
    }
    .right_side{
        flex: 0.5;
    }
    .left_side{
        flex: 0.4;
    }
    td{
        padding-bottom: 3%;
    }
    table{
        width: 100%;
    }
}