:root{
    --ga-dark-blue: #1D3E5D;
    --white-text: #ffffff;
}
.footer{
    background-color: var(--ga-dark-blue);
    color: var(--white-text);
    display: flex;
    justify-content: space-between;
    padding: 5% 5%;
    flex-direction: column;
    font-size: 13px;
}
.left_side{
    max-width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.left_side img{
    width: 100%;
}
table{
    border-collapse: collapse;
}
td{
    padding-bottom: 10px;
    padding-right: 40px;
}
.right_side{
    width: 100%;
}
.footer a{
    padding-left: 0;
    text-decoration: none;
    color: var(--white-text);
} 
.footer a:hover{
    color: #238ddc;
}
.th td{
    font-weight: 600;
}
td{
    font-weight: 400;
}
@media screen and (min-width: 700px) {
    .footer{
        padding: 7% 5%;
        flex-direction: row;
        font-size: 24px;
    }
    .left_side img{
        width: 70%;
        margin-left: 8%;
    }
    .right_side{
        flex: 0.5;
    }
    .left_side{
        flex: 0.4;
    }
    td{
        padding-bottom: 3%;
    }
    table{
        width: 100%;
    }
}
/* Tablets and small laptops */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer{
        font-size: 20px;
        flex-direction: row;
    }
    .left_side{
        flex: 0.3;
    }
    .left_side img{
        width: 80%;
    }
    .right_side{
        flex: 0.7;
    }
    td{
        padding-right: 20px;
        font-weight: 300;
    }
  }