:root {
  --ga-dark-blue: #1D3E5D;
  --white-text: #ffffff;
  --header-button: #238DDB;
}
ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  z-index: 100;
}

.dropdown-menu a {
  color: #1D3E5D !important;
  padding: 16px 24px !important;
  font-size: 16px !important;
  font-weight: 600;
}
.dropdown-menu a:hover{
  background-color: #1D3E5D;
  color: #f9f9f9 !important;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  color: #1D3E5D;
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 2s ease-in-out;
  transform-origin: top;
  flex-direction: column;
}
.dropdown h4{
  cursor: pointer;
}
.dropdown:hover .dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(20);
}
.header {
  background-color: var(--ga-dark-blue);
  color: var(--white-text);
  display: flex;
  top: 0;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 2% 6%;
  justify-content: space-between;
  font-weight: 600;
  z-index: 1000;
}

ul {
  display: flex;
  align-items: center;
}
.dropdown h4{
  padding: 16px 24px !important;
  display: flex;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: var(--white-text);
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.header li img {
  width: 16px;
  height: 16px;
}

button {
  padding: 12px 12px;
  gap: 10px;
  border-radius: 4px;
  background: var(--header-button);
  border: none;
  color: var(--white-text);
  font-weight: 600;
  margin-left: 10%;
}
.header button:hover{
  background-color: #172e46;
}
img {
  width: 70%;
}

.header_links {
  flex: 0.55;
  margin-right: -5%;
}

.header_button {
  flex: 0.15;
}

.header_logo {
  flex: 0.35;
}

.moreicon {
  display: none;
}

.open-sidebar {
  position: fixed;
  top: 0;
  right: -80vw;
  height: 100vh;
  background-color: #1D3E5D;
  width: 80vw;
  transition: transform 900ms ease-in-out, right 300ms ease-in-out; /* Added transitions for smooth sliding */
  transform: translateX(0);
  border-top-left-radius: 15px;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.sidebar-trigger {
  display: none;
}

/* PC's and larger screens */
@media screen and (max-width: 1024px) {
  .header_links,
  .header_button,
  .moreicon {
    display: none;
  }
  .sidebar-trigger {
    display: flex;
  }
  img {
    width: 100%;
  }
  .header_logo {
    flex: 0.45;
  }
  .header{
    padding: 3% 5%;
  }
  .moreicon {
    display: flex;
  }

  .header.slide-out {
    transform: translateX(-80vw); /* Slide out the header */
  }

  .open-sidebar {
    right: 0; /* Slide in the sidebar */
  }
}

/* Tablets and small laptops */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
