.intro {
    background: url('./assets/IMG_3642 1.png') center/cover, lightgray 0px -556.63px / 132.763% 216.311% no-repeat;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20% 5%;
    text-align: center;
    background-color: rgba(28, 114, 175, 0.8);
    background-position: 80% 100%;
    margin-top: 10%;
  }
  
  .intro h1 {
    font-size: 28px;
    padding: 2% 0;
    font-weight: 700;
  }
  
  .intro h3 {
    font-size: 16px;
    padding-bottom: 8%;
  }
  
  .intro button {
    margin-left: 0;
  }
  
  .intro_animation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .zoom {
    animation: zoom-in 2.5s ease-in-out;
  }
  
  .fade-left {
    animation: fade-in-left 2.5s ease-in-out;
  }
  
  .fade-right {
    animation: fade-in-right 2.5s ease-in-out;
  }
  
  @keyframes zoom-in {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media screen and (min-width: 900px) {
    .intro{
      min-height: 80vh; 
      padding: 0;
    }
  }