:root{
    --ga-dark-blue: #1D3E5D;
    --white-text: #ffffff;
}
.headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 7%;
}
.headline a{
    text-decoration: none;
    display: flex;
    color: #2C5D8C;
    width: 120px;
}
.headline a:hover{
    color: #1D3E5D;
}
.headline h1{
    background: var(--ga-blue-linear-gradient, linear-gradient(142deg, #238DDB 0%, #1D3E5D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 600;
}
.headline h4{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.cards{
    display: flex;
    overflow-x: scroll;
    padding: 2% 5%;
}
.cards::-webkit-scrollbar{
    display: none;
}
.medium{
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.youtube button{
    display: none;
}
@media screen and (min-width: 700px) {
    .section{
        padding: 3% 7%;
    }
    .headline{
        padding: 1.5% 0;
    }
    .headline h1{
        font-size: 32px;
    }
    .headline h4{
        font-size: 15px;
        padding-right: 1%;
    }
    .cards{
        width: 100%;
        justify-content: space-between;
        padding: 3% 0;
    }
    .lastcard{
        margin-right: 0 !important;
    }
}