.sidebar-lists{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
}
.sidebar{
  padding-top: 15vh;
  font-size: 24px;
}
.sidebar-lists li{
  padding-bottom: 10%;
}
.sidebar-lists li a{
  display: flex;
  justify-content: space-between;
}